{
    "repositories": [
        {
            "type": "path",
            "url": "../internal/*",
            "options": {
                "symlink": false
            }
        }
    ],
    "require": {
        "xtenstack/requirements-module": "*"
    }
}
